.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.ReactTable .rt-tbody {
  overflow-y: scroll;
  font-size: 12px;
}

.ReactTable .rt-thead {
  margin-right: 17px;
  font-size: 12px;
  background-color: #fefff8;
}
.ReactTable .rt-thead.-header {
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.15);
}
.ReactTable .rt-td {
  padding-top: 5px;
  padding-bottom: 0px;
}
.ReactTable .rt-resizer {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  z-index: 10;

  width: 10px;
  right: -6px;
}

.grid-container {
  background: #FFFFFF;
  color: #000000;
  width: calc(100vw-60px);
}

.title {
  font-size: 18px;
  padding-top: 5px;
  width: calc(100vw - 60px);
  color: #FFFFFF;
  font-weight: bold;
}

.rank-item {
  font-weight: bold;
}

.ranking-info {
  font-size: 13px;
  padding: 5px;
  background-color: #ffa800;
  width: calc(100vw - 60px);
  margin: 10px;
}

.ranking-info span {
  padding: 0px 5px;
}

.ranking-info select {
  font-size: 12px;
}

.info-cell, .header-cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  padding: 10px;
}
